.skills {
    display: flex;
    flex-direction: row;

    

    img {
        width: auto;
        height: 100px;
        margin: 10px;
        
    }
}

.skills-section {
    background-color: #f5f5f5;
    margin-top: 1.5rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}