.about {
  display: flex;
  justify-content: flex-start;

  .about-title {
    display: flex;
    width: 100%;
  }
}

.about-main {
  display: flex;
  margin-top: 20px;
  width: 95%;
  .about-text {
    width: 50%;
    font-weight: 100;
    h2 {
      padding: 20px 0 0 20px;
    }
    p {
      padding: 20px;
    }

    .about-icons {
      display: flex;
      justify-content: center;

      svg {
        margin: 10px;
        transition: 1s;
        cursor: pointer;
      }

      svg:hover {
        transform: scale(1.05);
      }
    }

    background-color: #f5f5f5;
  }
  .image-about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 94.5%;
      margin-left: 5%;
    }
  }
}
