
.header {
    min-height: 100vh;
    background: no-repeat center center fixed; 
    background-size: cover;
    .navigation {
        display: flex;
        flex-direction: row;
        background-color: #20282e;
        position: fixed;
        width: 100%;
        
        ul {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            li {
                display: flex;
                margin: 0 10%; 

                a {
                    color: white;
                    font-family: 'Lato';
                    font-weight: 500;
                    padding: 1em 0;
                }
            }
        }

    }

}

@media (max-width: 768px) {
    .header {
        background-position: 60% 40%;
    }
    
}




